[submodule "interface"]
	path = interface
	url = https://github.com/TKUICLab-humanoid/hurocup_interface_submodule.git
	branch = master
[submodule "src/walkinggait"]
	path = src/walkinggait
	url = https://github.com/TKUICLab-humanoid/walkinggait_submodule.git
	branch = master
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/TKUICLab-humanoid/usb_cam_submodule.git
	branch = master
[submodule "src/tku_msgs"]
	path = src/tku_msgs
	url = https://github.com/TKUICLab-humanoid/tku_msgs_submodule.git
	branch = master
[submodule "src/tku_libs"]
	path = src/tku_libs
	url = https://github.com/TKUICLab-humanoid/tku_libs_submodule.git
	branch = master
[submodule "src/package"]
	path = src/package
	url = https://github.com/TKUICLab-humanoid/motionpackage_submodule.git
	branch = master
[submodule "src/imageprocess"]
	path = src/imageprocess
	url = https://github.com/TKUICLab-humanoid/imageprocess_submodule.git
	branch = master
